html {
    background-color: #0f5152;
}

.card {
    width: 600px; /* 2 + 50 + 400 + 50 + 2 */
    text-align: center;
    background-color: #FFFAFA;
    margin: 100px auto;
    padding: 50px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .5); 

}

h1 {
    color: black; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 100px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1;
    text-align: center;
    margin-top: 8px;
}

h2 {
    color: black; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 30px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1;
}

h3 {
    color: black; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 20px; 
    font-weight: 400; 
    letter-spacing: -1px; 
    line-height: 1;
}


ul {
    color: black; 
    font-family: 'Open Sans', sans-serif; 
    font-size: 20px; 
    font-weight: 300; 
}

p {
    color: black; 
    font-family: 'Open Sans', sans-serif; 
    font-size: 20px; 
    font-weight: 300; 
}

ol {
    color: black; 
    font-family: 'Open Sans', sans-serif; 
    font-size: 20px; 
    font-weight: 300; 
}

#home {
    color: black; 
    font-family: 'Open Sans', sans-serif; 
    font-weight: bold;
    font-size: 20px; 
    font-weight: 300;   
}

img {
    height: auto;
    width: 350px;
    background-position: center;
    text-align: center;
}

button {
    border: 3px solid black;
    margin: 16px;
    padding: 8px 16px;
    background-color: #ffda81;

}