html {
    background-color: aqua;
}

body {
    margin: 2px black;
    padding: 36px;
}

.homepage.title {
    color: black; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 100px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1;
    text-align: center;
    border: 3px solid black;
    border-color: black;
    padding: 8px;
}

.recipes.list {
    color: black; 
    font-family: 'Open Sans', sans-serif; 
    font-size: 50px; 
    font-weight: 300; 
    text-align: center;
    border: 3px solid black;
    margin: 0 auto;
}




