html {
    background-color: #0f5152;
}

body {
    margin: 2px black;
    padding: 8px;
}

.homepage.title {
    color: black; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 100px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1;
    text-align: center;
    border: 3px solid black;
    margin-bottom: 36px;
    padding: 8px 16px;
    background-color: #ffda81;
}

.recipes.list {
    color: black; 
    list-style-position: inside;
    font-family: 'Open Sans', sans-serif; 
    font-size: 50px; 
    font-weight: 300; 
    text-align: center;
    border: 3px solid black;
    margin: 0 auto;
    padding: 36px 16px 36px 16px;
    background-color: #ffda81;
}




