html {
    background-color: #0f5152;
}

body {
    margin: 2px black;
    padding: 8px;
}

.card {
    width: 800px; /* 2 + 50 + 400 + 50 + 2 */
    text-align: center;
    background-color: #FFFAFA;
    margin: 20px auto;
    padding: 50px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .5); 
}

.homepage.title {
    color: black; 
    font-family: 'Helvetica', sans-serif; 
    font-size: 70px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1;
    text-align: center;
    border: 3px solid black;
    margin-bottom: 36px;
    padding: 8px 16px;
}

.recipes.list {
    color: black; 
    list-style-position: inside;
    font-family: 'Open Sans', sans-serif; 
    font-size: 50px; 
    font-weight: 300; 
    text-align: center;
    border: 3px solid black;
    margin: 0 auto;
    padding: 36px 16px 36px 16px;

}

img {
    width: 200px;
    display: inline-block;
}



